<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <title>Your Top Genres</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>


<div style="text-align: center">
    <h2 th:text="'YOUR ' + ${howManyTops} + ' TOP GENRES'"></h2>

    <th:block
            th:each="i : ${#numbers.sequence(1, actualHighestPlace+1, 1)}">

        <tr th:each="genre, gStat : ${topGenres}">

            <td
                    th:if="${genre.isFirst() && genre.getPlace()== i}">
                <h1 style="color: darkblue"><p th:text="${genre?.getPlace()}"/></h1>
                <h2><p th:text="${genre?.getGenreName()}"/></h2>
                <p th:text="${genre?.getArtists()}"/>
            </td>


            <td th:if="${!genre.isFirst() && genre.getPlace() == i}">
                <div id="div1" style="align-items: center; display: inline-table; padding: 20px; ">
                    <h4 style="color: darkblue"><p th:text="${genre?.getPlace()}"/></h4>
                    <h5><p th:text="${genre?.getGenreName()}"/></h5>
                    <p th:text="${genre?.getArtists()}" style="font-size: small"/>
                </div>
            </td>
        </tr>
    </th:block>

    <h2>
        <td th:text="${empty}"/>
    </h2>
    <h2>
        <td th:text="${notAll}"/>
    </h2>
</div>
</body>
</html>