<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your 3 Top Genres</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>


<div style="text-align: center">
    <h2>Your 3 Top Genres:</h2>
    <tr
            th:each="genre, iStat : ${genres}">
        <h1>
            <td th:text="${iStat?.count}"/>
        </h1>
        <h3>
            <td th:text="${genre?.getGenreName()}"/>
        </h3>
        <p>
        <td th:text="${genre?.getArtists()}"/>
        </p>
    </tr>

</div>
</body>
</html>