<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Spotify Top Genres</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1 style="text-align: center">Spotify Top Genres</h1>
<br>
<br>
<div style="text-align: center">
    <h4>Hi, you're logged in!</h4>
    <h4>Guess you're here to see your favourite music genres based on Spotify follows?</h4>
    <h4>Don't waste any more time then...</h4>
    <h4>It's not like there's anything else to see here, am I right?</h4>
    <h4>Click the link:</p></h4>
    <h3><a href="/genres">YOUR TOP GENRES</a></h3>

</div>
<script type="text/javascript">
</script>
</body>
</html>