<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Spotify Top Genres</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Spotify Stats</h1>
<div class="container">
    <p>Hi, you're logged in!</p>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="/genres">Top genres</a></li>
    </ul>
</div>
<script type="text/javascript">
</script>
</body>
</html>